<h1>Employee Details</h1>
<p><%= @name %></p>

<p><%= @age %></p>
<p><%= @gender %></p>
<p><%= @department %></p>
<p><%= @exp %></p>
<p><%= @dob %></p>
<p><%= @phone %></p>
<p><%= @email %></p>
<p><%= @address %></p>
<p><%= @photo %></p>